h1{
  text-decoration: underline;
  text-decoration-color: blue:
}
.introduction {
  color: white;
  background-image: url(../../assets/images/ephraim.jpg);
  text-align: center;
}
#contact {
  color: white;
}
#colContactQuickId {
  background-color: blue;
}
#colContactMe {
  background-color: grey;
}
